.sidebar {
    height: 100%;
    display: relative;
}

.sidebar-content {
    height: 100%;
    left: 0px;
    max-width: 240px;
    overflow-x: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 2rem 1rem;
    background-color: #c7cbd3;
    background-size: cover;
}

.system-name {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    margin-top: -2.5rem;
    margin-bottom: 2.5rem;
}

.link {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.75rem 0.5rem;
    border-radius: 0.125rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.active {
    color: #be2e3a;
    background-color:rgba(252, 252, 252, 0.13);
}

.allowed:hover {
    color: #be2e3a;
    background-color:rgba(252, 252, 252, 0.13);
}
