.header {
    height: 60px;
    background-color: #c7cbd3;
    box-shadow: 0 2px 8px rgb(38 50 56 / 20%);
    position:absolute;
    width: 100%;
    z-index: 10;
}
.div-header{
    display: flex; 
    justify-content: space-between; 
    align-items: baseline;
    margin: 15px 20px 0px 15px;
}

.logout{
    cursor: pointer;
}