<div class="main-container">
    <h2>Login</h2>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="example-full-width form-group" appearance="fill">
                <mat-label for="username">Username</mat-label>
                <!-- <input matInput type="text" formControlName="username" placeholder="Enter username" /> -->
                <input matInput type="text" formControlName="username" placeholder="Enter username"
                    name="username" id="username" aria-describedby="username-address-help"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['username'].errors}"/>
                <mat-error *ngIf="submitted && f['username'].errors" id="username-address-help">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width form-group" appearance="fill">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" formControlName="password" name="password" />
            </mat-form-field>
            <div style="align-items: center; text-align: center;">
                <button mat-raised-button color="primary">Login</button>
            </div>
        </form>
    </div>
</div>